@model DAPM.Models.TbDotLu

@{
    ViewBag.Title = "CHI TIẾT ĐỢT LŨ";
    
}

<h2>CHI TIẾT ĐỢT LŨ</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <dt>
                Tên đợt lũ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenDotLu)
            </dd>
        </div>
        <div class="row">
            <dt>
                Ngày bắt đầu
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayBatDau)
            </dd>
        </div>
        <div class="row">
            <dt>
                Ngày kết thúc
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayKetThuc)
            </dd>
        </div>

    </dl>
</div>
<div class="button-container">
    <button class="btn btn-edit" onclick="window.location.href='@Url.Action("Edit", new { id = Model.IdDotLu })'">Cập nhật</button>
    <button class="btn btn-back" onclick="window.location.href='@Url.Action("Index")'">Quay lại</button>
</div>

<style>
    h2 {
        text-align: center;
    }

    .dl-horizontal {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }

        .dl-horizontal dt {
            margin-left: 10%;
            text-align: start;
            justify-content: start;
        }

        .dl-horizontal dd {
            margin-left: auto;
            flex-direction: column;
            width: 300px;
        }

    .btn-edit {
        background-color: burlywood;
        color: black;
        border: solid 1px black;
        padding: 6px 12px;
    }

    .btn-edit:hover {
        background-color: lightgray;
    }

    .btn-back {
        background-color: indianred;
        color: black;
        border: solid 1px black;
        padding: 6px 12px;
    }

        .btn-back:hover {
            background-color: lightgray;
        }

    .button-container {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .row{
        display:flex;
    }
</style>