@model Tuple<List<TbDotLu>, List<TbDanhMuc>, List<TbMucDoThietHai> , List<TbDotCuuTro>, List<TbTaiKhoan>, List<TbHangHoa>>

@{
    ViewData["Title"] = "Phân bổ hàng cứu trợ";
    Layout = null;
    var error = TempData["ErrorQuantity"] as string;

}


<link rel="stylesheet" href="~/css/detailCuuTro.css">
<div class="container">
    <h1>PHÂN BỔ HÀNG CỨU TRỢ</h1>
    <div id="error-message" style="color: red; ">@error</div>
    <form method="post" action="/TbChiTietHangCuuTroes/Create">
        <div class="dropdowns">
            <div style="display: flex">
                <div>
                    <label for="dot-lu">Đợt lũ</label>
                    <select id="dot-lu" style="width: 150px" name="DotLuId" onchange="redirectToFilter()">
                        @foreach (var item in Model.Item1)
                        {
                            <option value="@item.IdDotLu" selected="@(item.IdDotLu == ViewBag.dl_filter)">@item.TenDotLu</option>
                        }
                    </select>
                </div>

                <div>
                    <label for="dot-cuu-tro">Đợt cứu trợ</label>

                    <select id="dot-cuu-tro" style="width: 150px" name="DotCuuTroId" onchange="redirectToFilterDct()">
                        @if (Model.Item4 != null)
                        {
                            foreach (var item in Model.Item4)
                            {
                                <option value="@item.IdDotCuuTro" selected="@(item.IdDotCuuTro == ViewBag.dct_filter)">@item.TenDotCuuTro</option>
                            }
                        }
                    </select>
                </div>
            </div>


            <div style="display: flex">
                <!--muc thiet hai-->
                <div>
                    <label for="muc-thiet-hai">Mức thiệt hại</label>
                    <select id="muc-thiet-hai" style="width: 150px" name="MucThietHaiId" onchange="redirectToFiltertk()">
                        @foreach (var item in Model.Item3)
                        {
                            <option value="@item.IdMucDo" selected="@(item.IdMucDo == ViewBag.mth_filter)">@item.MucThietHai</option>
                        }
                    </select>
                </div>
            </div>

            <!--category-->
            <div>
                <label for="loai-hang-hoa" style="font-weight: bold;"> Loại hàng hóa</label>
                <select id="loai-hang-hoa" style="width: 150px; border-radius: 5px; padding: 8px; " onchange="redirectToFilterdm()">
                    @foreach (var item in Model.Item2)
                    {
                        <option value="@item.IdDanhMuc" selected="@(item.IdDanhMuc == ViewBag.dm_filter)">@item.TenDanhMuc</option>
                    }
                </select>
            </div>
        </div>



        <div class="box-user" style="display: flex">
            <!--user-->
            <div class="table-container" style="margin-top: 15px; width: 100%">
                <h2>Hộ gia đình</h2>
                <table>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Gia đình</th>
                            <th>Địa chỉ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Item5 != null)
                        {
                            int a = 0;
                            foreach (var item in Model.Item5)
                            {
                                a++;
                                <tr>
                                    <td>@a</td>
                                    <td>@(item.HoVaTen == "" ? item.TenDangNhap : item.HoVaTen)</td>
                                    <td>@(item.DiaChi == "" ? "" : item.DiaChi)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <!--product-->
            <div class="table-container" style="margin-top: 15px; width: 100%">
                <h2>Hàng hóa</h2>
                <table>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên hàng</th>
                            <th>Số lượng còn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Item6 != null)
                        {
                            int a = 0;
                            foreach (var item in Model.Item6)
                            {
                                a++;
                                <tr>
                                    <td>@a</td>
                                    <td>@(item.TenHangHoa)</td>
                                    <td>@(item.SoLuong)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <div style="display: flex; margin-top: 25px; justify-content: center">
            <div style="margin-right: 10px">
                <label for="ten-hang">Tên hàng</label>
                <select id="ten-hang" style="width: 150px; padding: 8px; border-radius: 5px; margin: 5px 0" name="HangHoaId">
                    @if (Model.Item6 != null)
                    {
                        foreach (var item in Model.Item6)
                        {
                            <option value="@item.IdHangHoa" selected="@(item.IdHangHoa == ViewBag.hh)">@item.TenHangHoa</option>
                        }
                    }
                </select>
            </div>

            <div>
                <label>Số lượng hàng</label>
                <input id="quantity-product" name="SoLuong" style="width: 150px; padding: 8px; border-radius: 5px; margin: 5px 0" type="number" placeholder="Nhập số lượng">
            </div>
        </div>




        <div class="buttons" >
            <button style="background: #DD4242"><a href="@Url.Action("Index", "TbChiTietHangCuuTroes")" id="close">Đóng</a></button>
            <button style="background: #98E0FF" type="submit">Lưu</button>
        </div>
    </form>


    <script>
        function redirectToFilter() {
            var selectedValue = document.getElementById("loai-hang-hoa").value;
            var dlFilter = document.getElementById("dot-lu").value;
            var mthFilter = document.getElementById("muc-thiet-hai").value;
            var selectedDotCuuTroId = document.getElementById("dot-cuu-tro").value;

            var url = "/TbChiTietHangCuuTroes/Create?dm_filter=" + encodeURIComponent(selectedValue) + "&dl_filter=" + encodeURIComponent(dlFilter) + "&mth_filter=" + encodeURIComponent(mthFilter) + "&ct=" + encodeURIComponent(selectedDotCuuTroId);

            window.location.href = url;
        }
    </script>

    <script>
        function redirectToFiltertk() {
            var selectedValue = document.getElementById("loai-hang-hoa").value;
            var dlFilter = document.getElementById("dot-lu").value;
            var mthFilter = document.getElementById("muc-thiet-hai").value;
            var selectedDotCuuTroId = document.getElementById("dot-cuu-tro").value;

            var url = "/TbChiTietHangCuuTroes/Create?dm_filter=" + encodeURIComponent(selectedValue) + "&dl_filter=" + encodeURIComponent(dlFilter) + "&mth_filter=" + encodeURIComponent(mthFilter) + "&ct=" + encodeURIComponent(selectedDotCuuTroId);

            window.location.href = url;
        }
    </script>

    <script>
        function redirectToFilterdm() {
            var selectedValue = document.getElementById("loai-hang-hoa").value;
            var dlFilter = document.getElementById("dot-lu").value;
            var mthFilter = document.getElementById("muc-thiet-hai").value;
            var selectedDotCuuTroId = document.getElementById("dot-cuu-tro").value;

            var url = "/TbChiTietHangCuuTroes/Create?dm_filter=" + encodeURIComponent(selectedValue) + "&dl_filter=" + encodeURIComponent(dlFilter) + "&mth_filter=" + encodeURIComponent(mthFilter) + "&ct=" + encodeURIComponent(selectedDotCuuTroId);

            window.location.href = url;
        }
    </script>

    <script>
        function redirectToFilterWithHangId() {
            var selectedDotLuId = document.getElementById("dot-lu").value;
            var selectedDotCuuTroId = document.getElementById("dot-cuu-tro").value;
            var selectedMucThietHaiId = document.getElementById("muc-thiet-hai").value;
            var selectedDanhMucId = document.getElementById("loai-hang-hoa").value;
            var selectedHangHoaId = document.getElementById("ten-hang").value;

            var url = "/TbChiTietHangCuuTroes/Create?dl_filter=" + encodeURIComponent(selectedDotLuId) + "&mth_filter=" + encodeURIComponent(selectedMucThietHaiId) + "&dm_filter=" + encodeURIComponent(selectedDanhMucId) + "&ct=" + encodeURIComponent(selectedDotCuuTroId) + "&hang=" + encodeURIComponent(hangId);

            window.location.href = url;
        }
    </script>

    <script>
        function redirectToFilterDct() {
            var selectedValue = document.getElementById("loai-hang-hoa").value;
            var dlFilter = document.getElementById("dot-lu").value;
            var mthFilter = document.getElementById("muc-thiet-hai").value;
            var selectedDotCuuTroId = document.getElementById("dot-cuu-tro").value;

            var url = "/TbChiTietHangCuuTroes/Create?dm_filter=" + encodeURIComponent(selectedValue) + "&dl_filter=" + encodeURIComponent(dlFilter) + "&mth_filter=" + encodeURIComponent(mthFilter) + "&ct=" + encodeURIComponent(selectedDotCuuTroId);

            window.location.href = url;
        }
    </script>

</div>



