@model X.PagedList.IPagedList<DAPM.Models.ViewModels.TbChiTietHangCuuTroViewModel>
﻿@using X.PagedList.Mvc.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý phân bổ hàng cứu trợ";
    Layout = "~/Views/Shared/_nguyen.cshtml";
}

<div class="container-fluid_ct">
    <div class="row_ct">
        <div class="col-md-10 main-content_ct">
            <div class="row_ct header_ct align-items-center_ct">
                <div class="col-md-4_ct">
                    <h3 style="font-size:15px; text-align:center">Quản lý phân bổ hàng cứu trợ</h3>
                </div>
                <div class="col-md-4_ct">
                    <input type="text" class="form-control_ct" placeholder="Search">
                </div>
                <div class="col-md-4_ct d-flex justify-content-end_ct align-items-center_ct">
                    <span class="admin-text_ct"><img src="~/Image/admin-icon.jpg" alt="" class="admin-icon_ct"> Admin</span>
                    <img src="~/Image/notification_icon.jpg" alt="Notifications" class="notification-icon_ct">
                    <img src="~/Image/settings_icon.jpg" alt="Settings" class="settings-icon_ct">
                </div>
            </div>
            <div class="justify-content-between_ct align-items-center_ct mb-3">
                <h2 class="h2_ct">CHI TIẾT PHÂN BỔ HÀNG CỨU TRỢ</h2>
                <a href="@Url.Action("Create")" class="btn btn-primary_ct">Thêm</a>
            </div>
            <div class="table-responsive_ct">
                <table class="table table-striped table-centered_ct table_ct">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên đợt lũ</th>
                            <th>Tên đợt cứu trợ</th>
                            <th>Mức thiệt hại</th>
                            <th>Tài khoản</th>
                            <th>Hàng hóa cứu trợ</th>
                            <th>Số lượng</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int stt = 1; // Khởi tạo biến số thứ tự
                        }
                        @foreach (var item in Model)
                        {
                            <tr data-href="@Url.Action("Details", new { idTaiKhoan = item.IdTaiKhoan, idDotCuuTro = item.IdDotCuuTro, idHangHoa = item.IdHangHoa })" class="clickable-row_ct">
                                <td>@stt</td>
                                <td>@Html.DisplayFor(modelItem => item.TenDotLu)</td>
                                <td>@Html.DisplayFor(modelItem => item.TenDotCuuTro)</td>
                                <td>@Html.DisplayFor(modelItem => item.TenMucDoThietHai)</td>
                                <td>@Html.DisplayFor(modelItem => item.TenTaiKhoan)</td>
                                <td>@Html.DisplayFor(modelItem => item.TenHangHoa)</td>
                                <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { idTaiKhoan = item.IdTaiKhoan, idDotCuuTro = item.IdDotCuuTro, idHangHoa = item.IdHangHoa })"><img style="width: 15px; height: 15px" src="~/Image/edit_icon.jpg" alt="Edit"></a> |
                                    <a href="@Url.Action("Delete", new { idTaiKhoan=item.IdTaiKhoan,idDotCuuTro= item.IdDotCuuTro, idHangHoa=item.IdHangHoa })"><img style="width: 15px; height: 15px" src="~/Image/delete_icon.jpg" alt="Delete"></a>
                                </td>
                            </tr>
                            stt++; // Tăng số thứ tự sau mỗi dòng
                        }
                    </tbody>
                </table>
                <div class="pagination" style="margin: 0">
                    <div style="display: none" class="hint-text hidden">Showing <b>@Model.Count()</b> out of <b>@Model.PageSize</b> entries</div>
                    <ul class="pagination">
                        <li style="list-style-type: none; border: none; cursor: pointer;">
                            <a style="text-decoration: none; color: black; padding: 5px 10px; border-radius: 5px; background-color: #ccc; margin: 0 5px;"
                               href="@Url.Action("Index", "TbChiTietHangCuuTroes", new { page = Model.PageNumber - 1 })" class="page-link">&lt;</a>
                        </li>
                        @if (Model.PageCount <= 2)
                        {
                            for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li style="list-style-type: none; border: none; cursor: pointer;">
                                    <a style="text-decoration: none; color: black; padding: 5px 10px; border-radius: 5px; background-color: #ccc; margin: 0 5px;"
                                       href="@Url.Action("Index", "TbChiTietHangCuuTroes", new { page = i })" class="page-link">@i</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li style="list-style-type: none; border: none; cursor: pointer;">
                                <a style="text-decoration: none; color: black; padding: 5px 10px; border-radius: 5px; background-color: #ccc; margin: 0 5px;"
                                   href="@Url.Action("Index", "TbChiTietHangCuuTroes", new { page = 1 })" class="page-link">1</a>
                            </li>
                            <li style="list-style-type: none; border: none; cursor: pointer;">
                                <span style="text-decoration: none; color: black; padding: 5px 10px; border-radius: 5px; background-color: #ccc; margin: 0 5px;">...</span>
                            </li>
                            <li style="list-style-type: none; border: none; cursor: pointer;">
                                <a style="text-decoration: none; color: black; padding: 5px 10px; border-radius: 5px; background-color: #ccc; margin: 0 5px;"
                                   href="@Url.Action("Index", "TbChiTietHangCuuTroes", new { page = Model.PageCount })" class="page-link">@Model.PageCount</a>
                            </li>
                        }
                        <li style="list-style-type: none; border: none; cursor: pointer;">
                            <a style="text-decoration: none; color: black; padding: 5px 10px; border-radius: 5px; background-color: #ccc; margin: 0 5px;"
                               href="@Url.Action("Index", "TbChiTietHangCuuTroes", new { page = Model.PageNumber + 1 })" class="page-link">&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>

<style>
    h3 {
        font-size: 14px;
        color: #0057BE;
    }

    .row_ct {
        width: 100%;
    }

    .btn-primary_ct {
        background-color: #98E0FF;
        color: black;
        border: solid 1px black;
        width: 80px;
        height: 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 14px;
        text-align: center;
        transition: background-color 0.3s;
        margin-left: 85%;
        margin-bottom: 15px;
    }

        .btn-primary_ct:hover {
            background-color: #007bff;
            color: white;
        }

    .table-centered_ct {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }

    .table-responsive_ct {
        min-height: calc(100vh - 40px); /* 40px là tổng chiều cao của header và footer */
    }

    table.table_ct {
        width: 100%;
    }

        table.table_ct th,
        table.table_ct td {
            text-align: center;
            vertical-align: middle;
            height: 30px;
            font-size: 12px; /* Decrease table text size */
        }

    .clickable-row_ct {
        cursor: pointer;
    }

    .table-centered_ct tbody tr {
        border-bottom: 1px solid #dee2e6;
    }

        .table-centered_ct tbody tr:nth-child(odd) {
            background-color: #f8f9fa;
        }

        .table-centered_ct tbody tr:nth-child(even) {
            background-color: #ffffff;
        }

    .dropdown-menu_ct {
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .dropdown-item_ct {
        padding: 10px 20px;
        background-color: white;
        color: #333;
        text-decoration: none;
        display: block;
        transition: background-color 0.3s;
    }

        .dropdown-item_ct:hover {
            background-color: lightgray;
        }

    .dropdown-toggle_ct::after {
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
        margin-left: .5em;
        display: inline-block;
    }

    .dropdown-menu_ct.show_ct {
        display: block;
    }

    .dropdown-submenu_ct {
        display: none;
    }

        .dropdown-submenu_ct.show_ct {
            display: block;
        }

    .header_ct {
        background-color: white;
        padding: 10px 20px;
        border-bottom: 1px solid #dee2e6;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-control_ct {
        width: 100%;
        margin-left: 50px;
    }

    .admin-icon_ct {
        margin-right: 15px;
    }

    .notification-icon_ct,
    .settings-icon_ct {
        width: 24px;
        height: 24px;
        margin-left: 15px;
        cursor: pointer;
    }

    .col-md-4_ct {
        margin-left: 30px;
    }

    .admin-icon_ct {
        height: 30px;
        width: 30px;
    }

    .admin-text_ct {
        font-weight: bold;
    }

    .h2_ct {
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
    }

    .justify-content-between_ct {
        display: inline-block;
        width: 100%;
    }

    .pagination-container {
        margin-top: 20px;
    }

    .pagination {
        margin-bottom: 0;
    }

        .pagination .page-item .page-link {
            color: #007bff;
            border: 1px solid #007bff;
        }

        .pagination .page-item.active .page-link {
            background-color: #007bff;
            border-color: #007bff;
        }

        .pagination .page-item.disabled .page-link {
            color: #6c757d;
            pointer-events: none;
            cursor: default;
            background-color: #fff;
            border-color: #dee2e6;
        }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dropdowns_ct = document.querySelectorAll('.dropdown-toggle_ct');
        dropdowns_ct.forEach(function (dropdown_ct) {
            dropdown_ct.addEventListener('click', function (event) {
                event.preventDefault();
                var nextEl_ct = dropdown_ct.nextElementSibling;
                if (nextEl_ct && nextEl_ct.classList.contains('dropdown-menu_ct')) {
                    nextEl_ct.classList.toggle('show_ct');
                }
            });
        });

        var rows_ct = document.querySelectorAll(".clickable-row_ct");
        rows_ct.forEach(function (row_ct) {
            row_ct.addEventListener("click", function () {
                window.location = this.dataset.href;
            });
        });

        var currentUrl_ct = window.location.href;
        if (currentUrl_ct.includes("/tbDotCuus")) {
            document.getElementById("qlCuuTroDropdown_ct").classList.add("active_ct");
            var dropdownMenu_ct = document.getElementById("qlCuuTroDropdown_ct").nextElementSibling;
            if (dropdownMenu_ct) {
                dropdownMenu_ct.classList.add("show_ct");
                var dropdownItems_ct = dropdownMenu_ct.querySelectorAll(".dropdown-item_ct");
                dropdownItems_ct.forEach(function (item_ct) {
                    if (item_ct.href === currentUrl_ct) {
                        item_ct.classList.add("active_ct");
                    }
                });
            }
        }
    });
</script>
