<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lũ lụt Hòa Vang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- Favicon -->
    <link href="~/assets/img/favicon.png" rel="icon">

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <img src="/img/logo.png" alt="Logo" style="width: 80px;">
                <span style="color: black">HUYỆN HÒA VANG</span>
            </div>
            <ul class="menu">
                <li><a href="#"><img src="/img/home.png" alt="Home"> Tổng quan</a></li>
                <li><a href="@Url.Action("Index", "TaiKhoans")"><img src="/img/taikhoan.png" alt="Account"> Quản lý tài khoản</a></li>
                <li><a href="@Url.Action("Index","DOTLU")"><img src="/img/dotlu.png" alt="Flood"> Quản lý đợt lũ</a></li>
                <li><a href="@Url.Action("Index", "DanhMucs")"><img src="/img/danhmuc.png" alt="Category"> Danh mục hàng hóa</a></li>


                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle">
                        <img src="/img/thiethai.png" alt="Damage">
                        <span>Quản lý thiệt hại</span>
                        <span><i class="fa-solid fa-angle-down angle"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a style="margin-left: 32px;" href="@Url.Action("Index","DanhMucThietHai")">Danh mục thiệt hại</a></li>
                        <li><a style="margin-left: 32px;" href="@Url.Action("Index","CAPNHATTHIETHAI")">Chi tiết thiệt hại</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle">
                        <img src="/img/ungho.png" alt="Rescue">
                        <span>Quản lý Ủng hộ</span>
                        <span><i class="fa-solid fa-angle-down angle"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a style="margin-left: 32px;" href="@Url.Action("Product", "Product")">Cập nhật hàng ủng hộ</a></li>
                        <li><a href="@Url.Action("Index","UngHo")"> Đăng ký ủng hộ</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle">
                        <img src="/img/cuutro.png" alt="Rescue">
                        <span>Quản lý cứu trợ</span>
                        <span><i class="fa-solid fa-angle-down angle"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a style="margin-left: 32px;" href="@Url.Action("Index", "tbDotCuuTroes")">Danh sách đợt cứu trợ</a></li>
                        <li><a style="margin-left: 32px;" href="@Url.Action("Index","TbChiTietHangCuuTroes")">Phân bổ cứu trợ</a></li>
                    </ul>
                </li>
                <li><a href="https://app.powerbi.com/reportEmbed?reportId=cf6a5352-a792-4086-b234-381b5ad59d06&autoAuth=true&ctid=28812fc8-2582-42f8-8f32-677ea3e632e4"><img src="/img/thongke.png" alt="Report"> Thống kê & báo cáo</a></li>
            </ul>
        </div>

        <script>
            document.querySelectorAll('.dropdown-toggle').forEach(function (dropdownToggle) {
                dropdownToggle.addEventListener('click', function () {
                    var submenu = this.nextElementSibling;
                    var angleIcon = this.querySelector('.angle');
                    if (submenu.classList.contains('show')) {
                        submenu.classList.remove('show');
                        angleIcon.classList.remove('active');
                    } else {
                        document.querySelectorAll('.dropdown-menu').forEach(function (dropdown) {
                            dropdown.classList.remove('show');
                        });
                        document.querySelectorAll('.angle').forEach(function (icon) {
                            icon.classList.remove('active');
                        });
                        submenu.classList.add('show');
                        angleIcon.classList.add('active');
                    }
                });
            });
        </script>

        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
